{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container create_profile">
    <div class="container-fluid">
        <div class="container-lg" id="contentWrapper">
            <div class="row mt-5">
                <div id="main" class="col-lg-8 col-12 my-4">
                    {% if current_user.id in profiles %}
                    <h1>Update profile</h1>
                    {% else %}
                    <h1 class="text-center">Please create your profile inorder to book a session</h1>
                    {% endif %}
                    <div class="col-md-12">
                        <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" class="btn btn-success btn-lg" value="Post">
                        
                        </form>
                    </div>
                </div>
          </div>          
       </div>             
    </div>                
   
</div>
{% endblock %}