{% extends "base.html" %}

{% block content %}
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/styles.css">
  <title>TheraCare</title>
</head>
<body>
    <div class="bg-image"></div>
      <div class="bg-text">
        <h2 style="font-size: 3em; color: #ca6702;">TheraCare</h2>
        <p style="font-size: 25px; color: white; font-weight: 600;">Success as a therapist is not found in doing something for the client, but rather in being something for the client.<br>
          - Ili Rivera Walter -</p>
      </div>
</body>

{% endblock %}